.content div.container {
    background-color: #f5f5f5;
    padding: 15px 15px 50px;
}

.row {
    margin: 0;
}

.navbar {
    background-color: #ed6448;
    height: 100px;
    margin-bottom: 0;
}
.navbar .navbar-brand {
    color: white;
}
.navbar .navbar-nav li a:link,
.navbar .navbar-nav li a,
.navbar .navbar-nav li a:visited,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:hover {
    color: white;
}
.navbar .navbar-nav li .dropdown-menu a {
    color: #ed6448;
}
.navbar .navbar-nav li.dropdown {
    position: relative;
    top: 50px;
}
table {
    width: 100%;
}
a.new-cost {
    margin-top: 40px;
    float: right;
}
.peacon-block {
    margin-bottom: 30px;
}

.peacon-block h1 {
    margin-top: 0;
}

.peacon-block h1 a {
    margin-left: 15px;
}

.peacon-costos {
    min-height: 150px;
}

.brand {
    float: left;
    color: white;
    font-size: 24px;
    line-height: 100px;
    margin-left: 20px;
}

.navbar .navbar-nav li.dropdown {
    top: 0px;
}

body, html, #app {
    height: 100%;
}

.content {
    min-height: calc(100% - 300px);
}

.navbar-nav {
    top: 25px;
    position: relative;
}

.documentos table tbody tr td.colored-anchor a ,
.documentos table tbody tr td.colored-anchor a:link ,
.documentos table tbody tr td.colored-anchor a:visited ,
.documentos table tbody tr td.colored-anchor a:active {
    color: #3097D1;
    text-decoration: none;
}

.documentos table tbody tr td.colored-anchor a:hover {
    text-decoration: underline;
}

.margin-15-left {
    margin-left: 15px;
}